{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h2>Posts in {{ category.title }}</h2>
        {% for post in posts %}
        <div class="col-12 col-md-4 d-flex justify-content-center mt-3">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="cat_name">{{ post.title | safe }}</p>
                        </div>
                        {% if post.image %}
                        <a href="{% url 'posts_list' post.id %}">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid fixed-size">
                        </a>
                        {% else %}
                        <a href="{% url 'posts_list' post.id %}">
                            <img src="post-images/no_image.jpg" alt="Default Image" class="img-fluid">
                        </a>
                        {% endif %}
                        <hr>
                        <p class="card-text text-muted h6">{{ post.content | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}