{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block create %}
{% if current_page == "home" or current_page == "posts_list" %}
<div class="text-center mx-auto">
    <span class="navbar-text text-center">
        <p class="m-0">Your one-stop shop for all craft discussions</p>
    </span>
</div>
<div class="d-flex justify-content-end">
    <span>
        <a href="{% url 'create_post_page' %}" class="btn btn-create">Create New Post</a>
    </span>
</div>
{% else %}
<div class="text-end">
    <span class="navbar-text text-center">
        <p class="m-0">Your one-stop shop for all craft discussions</p>
    </span>
</div>
{% endif %}

{% endblock create %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <!-- Post title -->
                <h1 class="post-title">{{ post.title }}</h1> in {{ post.category }}
                <!-- Author and created date -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-flex col-md-6 masthead-image d-flex justify-content-end align-items-center">
                <a href="{% url 'post_detail' post.id %}">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid fixed-size">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="masthead-small">
    <div class="col-12 d-md-none masthead-image-small d-flex justify-content-center align-items-center">
        <a href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid fixed-size">
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Post details -->
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text"><strong>Description: </strong>{{ post.content | safe }}</p>
                <p class="card-text"><strong>Materials: </strong>{{ post.materials | safe }}</p>
                <p class="post-subtitle">
                    <strong>Time taken: </strong>{{ post.time_taken }} |
                    <strong>Suitable age: </strong>{{ post.get_age_display }} |
                    <strong>Skill level: </strong>{{ post.get_skill_display }}
                </p>
                <p class="post-subtitle" id="postMediaURL"><strong>Media URL: </strong>
                    {{ post.get_media_url_as_hyperlink|safe }}</p>
            </div>
        </div>
        <!-- Delete Post Button -->
        {% if user.is_authenticated and user == post.author %}
        <div class="post-actions">
            <button id="deletePostButton" class="btn btn-remove" data-bs-toggle="modal"
                data-bs-target="#deletePostModal">
                Delete Post
            </button>
        </div>
    </div>
    {% endif %}

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePostModalLabel">Delete Post</h5>
                    <button type="button" class="btn btn-create ms-auto" data-bs-dismiss="modal"
                        aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this post? This action cannot be undone, and all comments
                    associated with this post will also be deleted.
                </div>
                <div class="modal-footer">
                    <!-- Cancel button -->
                    <button type="button" class="btn btn-create" data-bs-dismiss="modal">Cancel</button>

                    <!-- Form for deleting the post -->
                    <form method="POST" action="{% url 'delete_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-remove">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <!-- Comments header Full screen-->
        <div class="col-md-8 main-bg">
            <h4>Comments:</h4>
        </div>
        <div class="d-none d-md-block col-md-4 main-bg">
            <h4>Leave a comment:</h4>
        </div>

        <!-- Comments section -->
        <div class="col-md-8 card mb-4 mt-3 commenthead card-body">
            {% for comment in comments %}
            <div
                class="p-2 comments {% if not comment.approved and comment.author == user %}faded{% elif not comment.approved %}d-none{% else%}approved{% endif %}">
                <p class="font-weight-bold">{{ comment.author }}
                    <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                </p>
                <div id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">This comment is awaiting approval</p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-delete btn-remove" comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="col-12 d-md-none main-bg">
            <h4>Leave a comment:</h4>
        </div>

        <!-- Leave a comment -->
        {% if user.is_authenticated %}
        <div class="col-md-4 card mb-4 mt-3 masthead">
            <div class="">

                <p><strong>Posting as: {{ user.username }}</strong></p>
                <form id="commentForm" method="POST" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button id="submitButton" type="submit" class="btn btn-accept btn-lg">Submit</button>
                </form>
                {% else %}
                <div class="col-md-4 card mb-4 mt-3 main-bg">
                    <h5>Log in to leave a comment</h5>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Edit comment confirmation modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="commentModalLabel"></h5>
                <button type="button" class="btn btn-create" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body" id="commentModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn-create" data-bs-dismiss="modal">Close</button>
                <button id="commentModalConfirm" type="button" class="btn btn-accept">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete comment confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-create" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?<br>
                This action cannot be undone later!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-create" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
      btn-remove">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extras %}
<script>
    const csrf_token = "{{ csrf_token }}";
    const post_id = "{{ post.id }}";
</script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock extras %}