{% extends "base.html" %}
{% load static %}

{% block create %}
{% if current_page == "home" or current_page == "posts_list" %}
<div class="text-center mx-auto">
    <span class="navbar-text text-center">
        <p class="m-0">Your one-stop shop for all craft discussions</p>
    </span>
</div>
<div class="d-flex justify-content-end">
    <span>
        <a href="{% url 'create_post_page' %}" class="btn btn-create">Create New Post</a>
    </span>
</div>
{% else %}
<div class="text-end">
    <span class="navbar-text text-center">
        <p class="m-0">Your one-stop shop for all craft discussions</p>
    </span>
</div>
{% endif %}
{% endblock create %}

{% block content %}

<div class="container">
    <div class="row standard">
        <h2>Posts in {{ category.title }}</h2>
        {% for post in posts %}
        <div class="col-12 col-md-4 d-flex justify-content-center mt-3">
            <div class="card tiles" style="width: 100%;">
                <div class="card-body text-center">
                    <div class="image-container">
                        <div class="image-flash">

                            <p class="tile_name">{{ post.title | safe }}</p>
                            </a>
                        </div>
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid fixed-size">
                        </a>
                        <hr>
                        <a href="{% url 'post_detail' post.id %}">
                            <p class="card-text h6 tile_desc">{{ post.blurb }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}