{% extends "base.html" %}
{% load static %}
{% block create %}
<span class="text-center mr-4">
    <a href="{% url 'create_post_page' %}" class="btn btn-primary">Create New Post</a>
</span>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row standard">
        <h2>Posts in {{ category.title }}</h2>
        {% for post in posts %}
        <div class="col-12 col-md-4 d-flex justify-content-center mt-3">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <div class="image-container">
                        <div class="image-flash">

                            <p class="cat_name">{{ post.title | safe }}</p>
                            </a>
                        </div>
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid fixed-size">
                        </a>
                        <hr>
                        <a href="{% url 'post_detail' post.id %}">
                            <p class="card-text text-muted h6">{{ post.content | safe }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mb-5"></div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next
                    &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock content %}