{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block create %}
{% if current_page == "home" or current_page == "posts_list" %}
<div class="text-center mx-auto">
    <span class="navbar-text text-center">
        <p class="m-0">Your one-stop shop for all craft discussions</p>
    </span>
</div>
<div class="d-flex justify-content-start">
    <span>
        <a href="{% url 'create_post_page' %}" class="btn btn-create">Create New Post</a>
    </span>
</div>
{% else %}
<div class="text-end">
    <span class="navbar-text text-center">
        <p class="m-0">Your one-stop shop for all craft discussions</p>
    </span>
</div>
{% endif %}
{% endblock create %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/kerry.jpg' %}" alt="{{ about.title }}" class="img-fluid full-size">
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->

            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
        <h2>Approach me</h2>
        <p>I want to make this site somewhere you want to visit and post, tell your friends about and be excited to
            share your creations.
            So if you feel there is something missing from the site, whether you want another Category, sub-categories -
            whatever.
            If you need or want from this site, let me know and we can see if it is possible and appropriate for us
            through a discussion.
            Let's build our community together!
        </p>

        <form method="post">
            {{ approach_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-accept" type="submit">Send to Kel</button>
        </form>
    </div>
</div>



{% endblock content %}